.myuhclub-landing-background {
  background: url('/images/uhCampus.jpg') no-repeat center center fixed;
  background-size: cover;
}

.myuhclub-landing-background-opacity {
  background-color: rgba(0, 100, 0, 0.8);
}

.myuhclub-signin-background {
  background-color: rbga(255, 255, 255, 255);
}
.darkerlink{
  color: blue;
}
