.myuhclub-landing-background {
  background: url('/images/uhCampus.jpg') no-repeat center center fixed;
  background-size: cover;
}

.myuhclub-landing-background-right {
  background-color: rgba(0, 100, 0, 0.8);
}